<html>
  <head>
    <%= js_includes %>
    <script type="text/javascript" src="js/user_details.js"></script>
  </head>
  <body>
    <div class="view" data-presenter="UserDetails">
      <div data-property="name">Original</div>
      <input data-property="age" />
      <button data-name="load">Load</button>
    </div>
  </body>
</html>